<header class="mx-auto flex max-w-screen-xl items-center justify-between py-4">
  <%= link_to '/' do %>
    <div class="text-lg flex items-center space-x-2">
      <%= inline_svg "logo.svg", class: 'fill-purple-500 size-8 stroke-2' %>
      <div>
        <span class="font-semibold text-purple-600 text-base">Fi</span>
        <span class="-ml-1 font-semibold text-gray-500 text-base">nance</span>
      </div>
    </div>
  <% end %>

  <ul class="flex items-center space-x-4 text-gray-500 flex-wrap border-b border-black-500/40 px-4">
    <% if logged_in? %>
      <% if current_path? == "/" %>
        <li class="relative rounded-md px-2 py-1 text-sm font-medium text-purple-500 transition-colors duration-300 focus-within:outline-purple-500/50">
          <%= link_to "Página inicial", "/" %>

          <div class="absolute left-0 top-0 flex size-full h-full w-full items-end justify-center animate-fade-right duration-300">
            <span class="z-0 h-[3px] w-[50%] rounded-t-full bg-purple-500"></span>
          </div>
        </li>
      <% else %>
        <li class="relative rounded-md px-2 py-1 text-sm font-medium text-gray-500 transition-colors duration-300 focus-within:outline-purple-500/50">
          <%= link_to "Página inicial", "/" %>
        </li>
      <% end %>

      <% if current_path? == "/receipt" %>
        <li class="relative rounded-md px-2 py-1 text-sm font-medium text-purple-500 transition-colors duration-300 focus-within:outline-purple-500/50">
          <%= link_to "Receitas", "/receipt" %>

          <div class="absolute left-0 top-0 flex size-full h-full w-full items-end justify-center animate-fade-right duration-300">
            <span class="z-0 h-[3px] w-[50%] rounded-t-full bg-purple-500"></span>
          </div>
        </li>
      <% else %>
        <li class="relative rounded-md px-2 py-1 text-sm font-medium text-gray-500 transition-colors duration-300 focus-within:outline-purple-500/50">
          <%= link_to "Receitas", "/receipt" %>
        </li>
      <% end %>
    <% end %>

    <% if !session[:current_user_id].present? && current_path? != "/login" %>
      <li>
        <%= link_to "Entrar", "/login", class: "rounded-md text-white text-sm px-3 py-1.5 bg-purple-700 flex hover:bg-purple-800 shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-800", role: "button" %>
      </li>
    <% end %>
  </ul>
</header>
