<div class="mx-auto max-w-screen-xl">
  <% if not @exists_receipt %>
    <div class="mt-10 flex flex-col">
      <h2 class="self-center text-2xl font-bold leading-9 tracking-tight">
        <div class="inline-block text-gray-700">Crie a primeira</div>
        <div class="inline-block text-purple-600">receita</div>
      </h2>

      <div class="flex justify-center">
        <div class="mt-4 flex items-center rounded bg-purple-50 p-4">
          <%= inline_svg_tag "receipt.svg", class: 'w-16 mr-4 fill-purple-600' %>
          <div class="w-[38.75rem] text-left text-gray-700">Uma receita é o resultado cumulativo de todas as despesas e rendas registradas dentro de um mês específico</div>
        </div>
      </div>
    </div>
  <% end %>

  <% if not @exists_receipt %>
    <form accept-charset="UTF-8" action="/receipt" method="post">
      <div class="mx-auto max-w-xl sm:w-full">
        <input type="text" name="name" value="Lista de despesa 1" hidden />
        <button type="submit" class="mx-auto mt-12 flex items-center justify-center space-x-2 rounded-md bg-purple-600 fill-white px-3 py-1.5 text-white shadow-sm hover:bg-purple-700 hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-800">
          <%= inline_svg_tag "plus.svg", class: 'size-5' %>

          <div class="font-medium">Receita</div>
        </button>
      </div>
    </form>
  <% else %>
    <div class="mt-10 border border-gray-200 rounded-md">
      <div class="w-full px-6 pb-3 pt-3 flex justify-between items-center">
        <div class="flex space-x-2 items-baseline">
          <h4 class="font-bold text-gray-800">Receitas</h4>
          <div class="py-1 px-2 rounded-2xl bg-purple-100 text-purple-500 font-bold inline-flex text-xs">1 item</div>
        </div>

        <%= link_to "/receipt/new", class: "flex items-center text-sm rounded-md bg-purple-600 text-white space-x-1 fill-white px-1.5 py-1 shadow hover:bg-purple-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-800" do %>
          <%= inline_svg_tag "plus.svg", class: 'size-4' %>

          <span>Receita</span>
        <% end %>
      </div>

      <table class="w-full text-left text-gray-500">
        <thead class="text-sm bg-gray-50 border-y border-y-gray-200">
          <tr>
            <th scope="col" class="px-6 py-3">Nome</th>
            <th scope="col" class="px-6 py-3">Mês</th>
            <th scope="col" class="px-6 py-3">Ano</th>
            <th scope="col" class="px-6 py-3">Ganhos</th>
            <th scope="col" class="px-6 py-3">Despesas</th>
          </tr>
        </thead>
        <tbody class="text-sm text-gray-800">
          <% @receipts.each do |receipt| %>
            <tr class="bg-transparent border-b last:border-0">
              <th class="px-6 py-4 whitespace-nowrap font-bold text-purple-500">
                <%= link_to receipt.name, receipt_detail_path(receipt), class: "underline" %>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <%= l(receipt.created_at, format: "%B") %>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <%= l(receipt.created_at, format: "%Y") %>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">R$ 2000</td>
              <td class="px-6 py-4 whitespace-nowrap">R$ 1500</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
