<div class="mx-auto max-w-screen-lg">
  <div class="mt-10 flex flex-col">
    <h2 class="self-center font-bold leading-9 text-2xl tracking-tight">
      <div class="inline-block text-gray-700">Crie a primeira</div>
      <div class="inline-block text-purple-600">receita</div>
    </h2>

    <div class="flex justify-center">
      <div class="p-4 rounded mt-4 flex items-center bg-purple-50">
        <%= inline_svg_tag "receipt.svg", class: 'w-16 mr-4 fill-purple-600' %>
        <div class="text-gray-700 w-[38.75rem] text-left">Uma receita é o resultado cumulativo de todas as despesas e rendas registradas dentro de um mês específico</div>
      </div>
    </div>
  </div>

  <% if not @exists_receipt %>
    <form accept-charset="UTF-8" action="/receipt" method="post">
      <div class="mx-auto max-w-xl sm:w-full">
        <button type="submit" class="flex justify-center items-center py-1.5 px-3 mx-auto mt-12 space-x-2 text-purple-700 rounded-md border border-purple-700 shadow-sm hover:text-white hover:bg-purple-700 fill-purple-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-800">
          <%= inline_svg_tag "plus.svg", class: 'size-5' %>

          <div class="font-medium">Receita</div>
        </button>
      </div>
    </form>
  <% else %>
    <div class="mt-10">
      <% @receipts.each do |receipt| %>
        <div class="justify-between flex items-center py-4 px-3 rounded-md border border-gray-100 bg-purple-200/40">
          <div>
            <h4 class="text-lg font-bold text-gray-600">
              <%= receipt.name %>
            </h4>

            <small class="text-sm italic text-gray-600">
              <%= l(receipt.updated_at, format: "%d de %B de %Y") %>
            </small>
          </div>

          <%= link_to "Acessar", receipt_detail_path(receipt), class: "rounded-md text-white text-sm px-3 py-1.5 bg-purple-700 flex hover:bg-purple-800 shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-800", role: "button" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
