<div class="p-4">
  <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-800">
    <div class="inline-block text-purple-600 hover:text-purple-800">Se junte a nós,</div> crie sua conta!
  </h2>


  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" data-controller="password-toggle" method="POST" action="/login" novalidate>
      <% if flash[:alert].present? and flash[:alert] == 'Credenciais inválidas' %>
        <div class="mt-2 flex items-center space-x-1">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 text-red-700">
            <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-1.72 6.97a.75.75 0 1 0-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 1 0 1.06 1.06L12 13.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L13.06 12l1.72-1.72a.75.75 0 1 0-1.06-1.06L12 10.94l-1.72-1.72Z" clip-rule="evenodd" />
          </svg>

          <div class="text-xs text-red-700 font-medium">
            <%= flash[:alert] %>
          </div>
        </div>
      <% end %>

      <% if flash[:alert].present? and flash[:alert] == 'Muitas tentativas de login, o seu usuario foi bloqueado por 10 minutos. Tente novamente em breve.' %>
        <div class="mt-2 flex items-center space-x-1">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 text-red-700">
            <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-1.72 6.97a.75.75 0 1 0-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 1 0 1.06 1.06L12 13.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L13.06 12l1.72-1.72a.75.75 0 1 0-1.06-1.06L12 10.94l-1.72-1.72Z" clip-rule="evenodd" />
          </svg>

          <div class="text-xs text-red-700 font-medium">
            <%= flash[:alert] %>
          </div>
        </div>
      <% end %>

      <div>
        <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Endereço de e-mail</label>
        <div class="mt-2">
          <input id="email" name="email" type="email" autocomplete="email" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-purple-600 sm:text-sm sm:leading-6" autofocus>
        </div>

        <% if flash[:alert].present? and flash[:alert] == 'Endereço de e-mail não informado' %>
          <div class="mt-2 flex items-center space-x-1">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 text-red-700">
              <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-1.72 6.97a.75.75 0 1 0-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 1 0 1.06 1.06L12 13.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L13.06 12l1.72-1.72a.75.75 0 1 0-1.06-1.06L12 10.94l-1.72-1.72Z" clip-rule="evenodd" />
            </svg>

            <div class="text-xs text-red-700 font-medium">
              <%= flash[:alert] %>
            </div>
          </div>
        <% end %>

        <% if flash[:alert].present? and flash[:alert] == 'Endereço de e-mail inválido' %>
          <div class="mt-2 flex items-center space-x-1">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 text-red-700">
              <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-1.72 6.97a.75.75 0 1 0-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 1 0 1.06 1.06L12 13.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L13.06 12l1.72-1.72a.75.75 0 1 0-1.06-1.06L12 10.94l-1.72-1.72Z" clip-rule="evenodd" />
            </svg>

            <div class="text-xs text-red-700 font-medium">
              <%= flash[:alert] %>
            </div>
          </div>
        <% end %>
      </div>

      <div >
        <div class="flex items-center justify-between">
          <label for="password"  class="block text-sm font-medium leading-6 text-gray-900">Senha</label>
        </div>

        <div class="mt-2">
          <input id="password" name="password" type="password" data-password-toggle-target="password" autocomplete="current-password" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-purple-600 sm:text-sm sm:leading-6">
        </div>

        <% if flash[:alert].present? and flash[:alert] == 'Senha não informada' %>
          <div class="mt-2 flex items-center space-x-1">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 text-red-700">
              <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-1.72 6.97a.75.75 0 1 0-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 1 0 1.06 1.06L12 13.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L13.06 12l1.72-1.72a.75.75 0 1 0-1.06-1.06L12 10.94l-1.72-1.72Z" clip-rule="evenodd" />
            </svg>

            <div class="text-xs text-red-700 font-medium">
              <%= flash[:alert] %>
            </div>
          </div>
        <% end %>

        <div class="flex items-center space-x-2 mt-2">
          <input type="checkbox" id="show-password" class="rounded border-gray-300 text-purple-600 focus:ring-purple-600" data-action="click->password-toggle#toggle" />
          <label class="text-sm text-gray-900" for="show-password">Mostrar senha</label>
        </div>
      </div>

      <div>
        <button type="submit" class="flex w-full justify-center rounded-md bg-purple-700 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-purple-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-800">Entrar</button>
      </div>
    </form>

    <div class="text-sm text-gray-700 border border-gray-200 py-4 rounded mt-8 bg-gray-50 flex flex-col items-center">
      <div>
        Novo por aqui?
        <%= link_to "Crie uma conta", "/user/new", class: "text-blue-700" %>
      </div>
    </div>
  </div>
</div>
